@import "mixin";

// body,
// div,
// span,
// header,
// footer,
// nav,
// section,
// aside,
// article,
// ul,
// dl,
// dt,
// dd,
// li,
// a,
// p,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// i,
// b,
// textarea,
// button,
// input,
// select,
// figure,
// figcaption
.prevent-default {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;

  &:hover {
    outline: none;
  }
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #f7fafc inset !important; //关于解决输入框背景颜色
  -webkit-text-fill-color: #333 !important; //关于接输入框文字颜色
}

textarea {
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #f3f3f3;
  color: #333;
}

#app {
  color: #333;
}

body {
  background: #f0f0f0;
  color: #333;
  font-family: Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #444;
  outline: none;
  transition: all 0.15s;
  opacity: 0.8;
  text-decoration: none;

  &:hover {
    opacity: 1;
    color: #409eff;
  }
}

.pointer {
  cursor: pointer;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  *zoom: 1;

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
    overflow: hidden;
  }
}

// 文本省略方式 start
.ellipsis {
  @include text-ellipsis;
}

@for $i from 2 through 4 {
  .line-clamp-#{$i} {
    @include line-clamp($i);
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlight-label {
  padding: 6px 6px 6px 14px;
  position: relative;
  font-size: 16px;
  color: #333;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 4px;
    height: 16px;
    background-color: #409eff;
    border-radius: 999px;
  }
}

.color-primary {
  color: #409eff;
}